.firstblock{
  background-color:#ff0;
  color: blue;
  text-align: center;
  height: 100px;
  width: 200px;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}

.secondblock{
  background-color:#ff0;
  color: blue;
  text-align: center;
  height: 100px;
  width: 200px;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  border-style: double;
  border-width: 11px;
  border-color: #006400;
}

.thirdblock{
  background-color:#ff0;
  color: blue;
  text-align: center;
  height: 100px;
  width: 200px;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  border-style: double;
  border-width: 11px;
  border-color: #006400;
  border-radius: 15% 25% 35% 45%;
}

.fourthblock{
  background-color:#ff0;
  color: blue;
  text-align: center;
  height: 100px;
  width: 200px;
  margin: 30px auto;
  font-size: 18px;
  font-weight: bold;
  border-style: double;
  border-width: 11px;
  border-color: #006400;
  box-shadow: -4px -7px 0px 12px violet;
}

.fifthblock{
  background-color:#ff0;
  color: blue;
  text-align: center;
  height: 100px;
  width: 200px;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  border-style: double;
  border-width: 11px;
  border-color: #006400;
  transform: translate(0px, 425px) scale(0.7, 1.7) rotate(-65deg) skew(0deg, 30deg);
}
